@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Source Code Pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff2) format('woff2');
    src: url(https://abs.twimg.com/fonts/chirp-extended-heavy-web.woff) format('woff');
    font-weight: 800;
    font-style: 'normal';
    font-display: 'swap';
}

body {
    /* font-family: 'Comfortaa', sans-serif !important; */
    /* font-family: 'Montserrat', sans-serif !important; */
    /* font-family: 'Roboto', sans-serif !important; */
    font-family: 'TwitterChirpExtendedHeavy', monospace !important;
}

.comfortaa-font {
    font-family: 'Comfortaa', sans-serif !important;
}

.montserrat-font {
    font-family: 'Montserrat', sans-serif !important;
}

.font-source-code-pro {
    font-family: 'Source Code Pro', monospace !important;
}

.roboto-font {
    font-family: 'Roboto', sans-serif !important;
}


.overflow-y-auto::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.overflow-x::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
.overflow-y::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-y-auto,
.overflow-y-scroll,
.overflow-x-auto,
.overflow-x,
.overflow-x-scroll,
.overflow-y,
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.bg-dim-700 {
    --bg-opacity: 1;
    background-color: #192734;
}


svg.paint-icon {
    fill: currentcolor;
}